*
    margin: 0
    padding: 0

.container
    width: 80%
    font-family: sans-serif
    margin: 50px auto
    background-color: #aaaaaa
    header
        padding: 15px
        border-bottom: 5px solid gray
        section#judul
            h1
        section#sub-judul
            h4
        nav
            ul
                li
                    display: inline
    main
        padding: 15px
    footer
        padding: 15px
        border-top: 5px solid gray